.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}
     
.dropdown-content{
  width: max-content;
  height:auto;
}


nav {
  height: 100px;
  line-height: 100px;
  }

  nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
      height: 100px;
      line-height: 100px;
  }

  nav .button-collapse i {
      height: 100px;
      line-height: 100px;
  }

  nav .brand-logo { 
      font-size: 1.6rem; 
  }

  @media only screen and (min-width: 601px){
      nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
          height: 100px;
          line-height: 100px;
      }
  }
  .logo {
  display: inline-block;
  height: 100%;
  }

  .logo>img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }